---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroAreas from "../components/components-areas/HeroAreas.astro";
---

<Layout title="Áreas">
    <Navbar />

    <main class="w-full">
        <HeroAreas />
    </main>
</Layout>

<!-- MUY LIMPIO -->
