---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar.astro";
import HeroAreas from "../components/components-areas/hero-areas.astro";
---

<Layout title="Áreas">
    <Navbar />

    <main class="w-full">
        <HeroAreas />
    </main>
</Layout>

<!-- MUY LIMPIO -->
