---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import HeroCall from "../components/components-call/hero-call.astro";
import WhyUnicode from "../components/components-call/why-unicode.astro";
import RegisterModal from "../components/components-call/register-modal.astro";
---

<Layout title="Convocatoria">
  <Navbar />
  <HeroCall />

  <main class="w-full">
    <div
      class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
    >
    </div>

    <WhyUnicode />
    <RegisterModal />
  </main>
</Layout>
