---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar.astro";
import HeroCall from "../components/components-call/hero-call.astro";
import PorQueUnicode from "../components/components-call/por-que-unicode.astro";
import RegistroModal from "../components/components-call/registro-modal.astro";
---

<Layout title="Convocatoria">
  <Navbar />
  <HeroCall />

  <main class="w-full">
    <div
      class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
    >
    </div>

    <PorQueUnicode />
    <RegistroModal />
  </main>
</Layout>
