---
import Layout from "../layouts/layout.astro";
import Navbar from "../components/navbar.astro";
import HeroEventos from "../components/components-events/hero-eventos.astro";
import ProximosEventos from "../components/components-events/proximos-eventos.astro";
import EventosRealizados from "../components/components-events/eventos-realizados.astro";
import FAQEventos from "../components/components-events/faq-eventos.astro";
---

<Layout title="Eventos">
    <Navbar />

    <main class="w-full">
        <HeroEventos />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <ProximosEventos />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <EventosRealizados />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <FAQEventos />
    </main>
</Layout>
