---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import HeroEvents from "../components/components-events/hero-events.astro";
import UpcomingEvents from "../components/components-events/upcoming-events.astro";
import CompletedEvents from "../components/components-events/completed-events.astro";
import FAQEvents from "../components/components-events/faq-events.astro";
---

<Layout title="Eventos">
    <Navbar />

    <main class="w-full">
        <HeroEvents />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <UpcomingEvents />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <CompletedEvents />

        <div
            class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
        >
        </div>

        <FAQEvents />
    </main>
</Layout>
