---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Hero from "../components/hero.astro";
import Stats from "../components/components-home/stats.astro";
import News from "../components/components-home/news.astro";
import Us from "../components/components-home/us.astro";
import Alliances from "../components/components-home/alliances.astro";
import ExploreUnicode from "../components/components-home/explore-unicode.astro";
import Presidents from "../components/components-home/presidents.astro";
---

<Layout title="Inicio">
	<Navbar />
	<Hero />

	<main class="w-full">
		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Stats />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<News />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Us />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Alliances />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<ExploreUnicode />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Presidents />
	</main>
</Layout>
