---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/components-home/Stats.astro";
import About from "../components/components-home/About.astro";
import Novedades from "../components/components-home/Novedades.astro";
import CTA from "../components/components-home/CTA.astro";
---

<Layout title="Inicio">
	<Navbar />
	<Hero />

	<main class="w-full">
		<!-- Separador visual sutil -->
		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Stats />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<Novedades />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<About />

		<div
			class="w-full h-px bg-linear-to-r from-transparent via-zinc-800 to-transparent"
		>
		</div>

		<CTA />
	</main>
</Layout>
