---
import ProjectSlider from "./ProjectSlider.astro";

interface Props {
  projects: any[];
}

const { projects } = Astro.props;
---

<section
  id="featured-section"
  class="w-full mb-32 animate-fade-in"
  style="animation-delay: 200ms;"
>
  <div class="max-w-7xl mx-auto px-6 mb-8 flex justify-center">
    <h2 class="text-2xl font-bold flex items-center gap-3 text-center">
      <span class="w-8 h-[2px] bg-unicode"></span>
      PROYECTOS DESTACADOS
      <span class="w-8 h-[2px] bg-unicode"></span>
    </h2>
  </div>
  <ProjectSlider projects={projects} />
</section>
