---
interface Props {
  project?: any;
}

const { project = {} } = Astro.props;
const { title = "Proyecto", category = "PROYECTO", image } = project;
---

<div
  class="shrink-0 w-[85vw] md:w-[60vw] lg:w-[45vw] aspect-16/10 md:aspect-21/9 bg-zinc-900/80 rounded-[2.5rem] border-2 border-zinc-800 hover:border-unicode shadow-2xl hover:shadow-unicode-sm relative overflow-hidden transition-all duration-500 group snap-center project-card-featured"
>
  <div
    class={`absolute inset-0 bg-cover bg-center grayscale-50 opacity-40 group-hover:opacity-60 group-hover:grayscale-0 transition-all duration-700 group-hover:scale-110`}
    style={image
      ? `background-image: url('${image}')`
      : "background-image: url('/placeholder-projects.jpg')"}
  >
  </div>
  <div
    class="absolute inset-0 bg-linear-to-t from-black via-black/20 to-transparent p-8 md:p-12 flex flex-col justify-end"
  >
    <div class="flex gap-2 mb-3 md:mb-4">
      <span
        class="px-3 py-1 bg-unicode/20 border border-unicode/30 rounded-full text-[10px] text-unicode uppercase font-bold tracking-widest backdrop-blur-md"
      >
        {category}
      </span>
    </div>
    <div class="flex flex-col md:flex-row md:items-end justify-between gap-4">
      <h3
        class="text-xl md:text-3xl font-bold group-hover:text-unicode transition-colors leading-tight"
      >
        {title}
      </h3>

      <button
        class="js-open-project-modal cursor-pointer inline-flex items-center justify-center px-6 py-2.5 rounded-full border border-white/20 bg-white/5 backdrop-blur-md text-sm font-bold text-white hover:border-unicode hover:text-unicode hover:bg-unicode/10 transition-all duration-300 w-fit shrink-0"
        data-project={JSON.stringify(project)}
      >
        Ver detalles
      </button>
    </div>
  </div>
</div>
