---
---

<section class="max-w-7xl mx-auto px-6 text-center mb-16 animate-fade-in">
  <h1
    class="text-5xl md:text-7xl font-bold text-unicode tracking-tighter mb-6 drop-shadow-[0_0_15px_rgba(117,211,45,0.3)]"
  >
    PROYECTOS
  </h1>

  <p class="text-zinc-400 text-lg md:text-xl max-w-2xl mx-auto italic mt-4">
    Impulsando el desarrollo de sistemas tech para la formación educativa de
    nuestros estudiantes
  </p>
</section>
