---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div class="flex items-start gap-4">
    <!-- Punto verde que usaré, en vez del logo -->
    <div class="relative flex items-center justify-center flex-shrink-0 mt-2">
        <div
            class="absolute w-4 h-4 rounded-full bg-[#75D32D] blur-[6px] opacity-80"
        >
        </div>
        <div
            class="relative w-2 h-2 rounded-full bg-[#75D32D] shadow-[0_0_10px_#75D32D]"
        >
        </div>
    </div>

    <!-- Texto -->
    <p class="text-zinc-300 text-sm md:text-base leading-relaxed flex-1">
        {text}
    </p>
</div>
